{% extends "page.html" %}
<link rel="stylesheet" type="text/css" href="./about_files/select2.css">
<link rel="stylesheet" type="text/css" href="./about_files/_bundle_terms.min.css">

{% block subtitle %}{{ _('About') }}{% endblock %}

{% block breadcrumb_content %}
<article class="module" role="main">
  <div >
    <header class="site-header " style="background-image: url(/quote-bg.jpg)">
      
      
      <h1 class="headline container text-center">
        About Us
      </h1>
      
      
      <p class="lead container text-center" style="color: white">
      
  “We are not venturing into new industries, new technologies;<br>
  globalisation is progressing, people talk about big data.<br>
  We are part of that. We want to be a smart city, a smart nation.”s
  <br>
  <cite>
    — Prime Minister Lee Hsien Loong's speech<br>
    on the President's Address debate, 28 May 2014
  </cite>      
      
    </header> 
  </div>
  <div>
    <h2>About DTU FOOD</h2>
    <p>
      DTU FOOD was first launched in 2011 as the government's one-stop portal to its publicly-available datasets from 70 public agencies. To date, more than 100 apps have been created using the government’s open data.
    </p>

    <p>
      The new DTU FOOD, now in public beta, goes beyond being a data repository. It aims to make government data relevant and understandable to the public, through the active use of charts and articles.
    </p>

    <p>
      We are actively working on new features and enhancements. We would like to invite feedback from members of the public on how we can further improve data.gov.sg and provide a better user experience for all.
    </p>

    <p>
      The aims of this portal include:
    </p>

    <ol>
      <li>Provide one-stop access to the government’s publicly-available data</li>
      <li>Communicate government data and analysis through visualisations and articles</li>
      <li>Create value by catalysing application development</li>
      <li>Facilitate analysis and research</li>
    </ol>

    <p>
      This website is an initiative by the Ministry of Finance and is managed by the Government Technology Agency of Singapore.
    </p>
  </div>
  <div>
    <div>
      ​<h2>Data Sharing Principles</h2>

      <p>
        The following data sharing principles aim to guide the Government agencies' Open Data efforts.
        </p><ul>
          <li>Data shall be made easily accessible</li>
          <li>Data shall be made available for co-creation</li>
          <li>Data shall be released in a timely manner</li>
          <li>Data shall be shared in machine-readable format</li>
          <li>Data shall be as raw as possible</li>
        </ul>
      <p></p>
    </div>
  </div>
  <div>
    <div>
      <h2>Help Us Improve</h2>
      <p>
        Have some feedback regarding the beta site or can't find the dataset that you are looking for?
      </p>

      <p>Email us at <a href="mailto:feedback@data.gov.sg">feedback@data.gov.sg</a>.</p>
  </div>
</div>
</article>
{% endblock %}



<script type="text/javascript" src="./about_files/jquery.min.js"></script>
<script type="text/javascript" src="./about_files/select2.min.js"></script>
<script type="text/javascript" src="./about_files/jquery.form-warning.min.js"></script>
<script type="text/javascript" src="./about_files/bootstrap.js"></script>
<script type="text/javascript" src="./about_files/ga-events.min.js"></script>
