{% ckan_extends %}
<div class="container">
  {% block primary_content %}
  <article class="module" role="main">
    <div >
      <header class="site-header " >
        
        
        <h1 class="headline container text-center">
         
          <h1>Data Catalog</h1>
          <h2>DTU Biosustain</h2>
          {% block home_image_content %}
          {% block home_image_caption %}
        </h1>
        
        
        <p class="lead container text-center" style="color: white">
        
    <br>
    <div class="site-search">
      {% block header_site_search %}
      <form class="section site-search simple-input" action="{% url_for 'dataset.search' %}" method="get">
        <div class="field">
          <label for="field-sitewide-search">{% block header_site_search_label %}{{ _('Search Datasets') }}{% endblock %}</label>
          <input id="field-sitewide-search" type="text" class="form-control" name="q" placeholder="{{ _('Search DTU Biosustain Data Catalog') }}" aria-label="{{ _('Search datasets') }}"/>
          <button class="btn-search" type="submit" aria-label="{{ _('Submit') }}"><i class="fa fa-search"></i></button>
        </div>
      </form>
     
      {% endblock %} 
  
    </div>
   
    <cite>
      <div class="hero-p">
        
    </cite>      
        
      </header> 
    </div>
  
    
      <div>
        
    </div>
    
  </div>
  
    {% endblock %}
        <a class="media-image" href="#">
        <img src="/dtu_library.png" alt="Featured image"
        width="350" height="1000" />
        </a>
    {% endblock %}
    {% endblock %}
</div>