body{
    
}



.media-image{
    
}
h1{
    color: white;
    text-align: center;
    font-size: 40px;
}
   

h2{
    text-align: center;
    font-size: 30px;
    color: white;

}

.hero-p {
    color: white;
    text-align: center;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: auto
    
}

.site-search{
    width: 50%;
    position: absolute;
    margin-left:25%;
}