{% ckan_extends %}
<div>
  {% block meta %}
  {{ super() }}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:image" content="https://africaopendata.org/images/logos/open-africa.png" />
  <meta property="og:title" content="openAFRICA" />
  <meta property="og:description" content="Africa's Largest Volunteer Driven Open Data Platform. openAFRICA aims to be largest independent repository of open data on the African continent." />
  <meta property="og:url" content="https://africaopendata.org/" />
{% endblock %}

 {% block styles %}
  {{ super() }}
  {% asset 'cfblib/cfb_dtu-css' %}
{% endblock %}

</div>
